body{
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  text-align: center;
  text-shadow: 5px 5px 5px grey;
  background-color: #edd9d5;
}
h1{
  font-family: 'Long Cang', cursive;
  text-align: center;
  font-size: 6em;
  letter-spacing: 0.1em;
}
img{
  border-radius: 38%;
}
h4{
  font-family: 'Long Cang', cursive;
  font-size: 2.3em;
  text-shadow: 3px 3px 3px black
}
button{
  margin: 1em;
  border-radius: 10px;
  border: none;
  font-size: 75%;
  color: white;
  padding: 1em;
  background-color: rgb(89, 22, 22);
}
footer{
  padding: 2em;
  font-size: 12px;
  text-shadow: none;
}

#butcherPig{
  width: 20em;
  }
#pigImage{
  text-align: center;
}
#inputPhrase{
  font-size: 1em;
  height: 5em;
  width: 20em;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(208, 208, 208);
}

.box{
  background-color: #797979;
  color: #fff;
  border-radius: .2em;
  padding: 1em;
  font-size: 150%;
  margin-top: 2em;
}
.header{
  background-color: #FFF;
  padding: 1em;
}
